/*
Created By Alex Stewart
For Pizza Building
Date April 30th 2024
*/


/* I moved my Css for the pizza design out of the HTML just so it's out of the way, if not you can move it back, and feel free to delete this comment*/


.container {
    display:flex;   /*display the box*/
    padding:15px;
    border:15px solid #ee3a43;
    justify-content: space-around; /*Horizontal control by default*/
    align-items: center ;
    flex-direction: row;
    }

#byop{
    border-radius:5px;
    background-color:#D3D3D3;
    padding:15px;
    display:flex;
    flex-direction:column;
    /* margin could be off sized for a 1080p monitor*/
    margin-right:500px
    }
    
    #delivery{
    border-radius:5px;
    background-color:white;
    padding:15px;
    }
    
    #size{
    border-radius:5px;
    background-color:white;
    padding:15px;
    }
    
    #sauce{
    border-radius:5px;
    background-color:white;
    padding:15px;
    }

    #cheese{
        border-radius:5px;
        background-color:white;
        padding:15px;
        }
    
    #ingredients{
    border-radius:5px;
    background-color:white;
    padding:15px;
    }
    #cost{
    border-radius:5px;
    background-color:white;
    padding:15px;
    }

  .button {
  background-color: #ee3a43;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
  
canvas {
    border:solid 5px #ee3a43; 
    background-image:url("pizzaBoard.jpg");
}
