    main {
    padding: 20px;
    }
    
    .pizza-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    }
    .pizza-section img {
    max-width: 100%; 
    height: auto;
    margin: 10px;
    }
    
    .small-pizzas {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    }
    
    .small-pizzas img {
    width: 150px; 
    height: 150px; 
    margin: 10px;
    }

    @media all and (max-width:860px) {

        .small-pizzas {
            flex-wrap: wrap;
            }

    }

    @media all and (max-width:600px) {

        .small-pizzas {
            flex-direction: column;
            }
    }
